body {
    font-family: 'Quicksand','sans-serif';
    color:#2E2E30;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 70px;
}

h2 {
    font-size: 25px;
    color: #6B6C6E;
    font-weight: 700;
    margin-bottom: 50px;
}

p {
    margin-bottom: 0.5em ; 
    line-height: 1.5em;
    font-family: 'Open Sans','sans-serif';
    font-size: 15px;
}
