* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    margin-top: 0 auto;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 10vw;
    height: auto;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}